.by-ark-rable {
  .header-fixed {
    position: fixed;
    overflow: hidden;
    .fixed-left {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 12;
      background: transparent;
      * {
        background: transparent;
      }
      & th:not(.is-hidden) {
        background: #fff;
      }
      .fixed-header-checkbox {
        .el-checkbox__input {
          visibility: hidden;
        }
      }
    }
    .fixed-middle {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 8;
      background: #fff;
    }
    .fixed-right {
      position: absolute;
      top: 0;
      z-index: 10;
      background: transparent;
      * {
        background: transparent;
        border: none;
      }
      & th:not(.is-hidden) {
        background: #fff;
      }
    }
  }
  .footer-fixed {
    position: fixed;
    bottom: 10px;
    background: transparent;
    height: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    &>div {
      height: 10px;
    }
  }
}
.el-table-body--scroll {
  .el-table__body-wrapper {
    scrollbar-color: transparent transparent;
    scrollbar-track-color: transparent;
    -ms-scrollbar-track-color: transparent;
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      background: transparent;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 12px;
      box-shadow: none;
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      width: 0;
      height: 0;
      display: none;
      box-shadow: none;
      background: transparent;
      border-radius: 0;
    }
  }
}
